asgiref
attrs
babel
certifi
cffi
charset-normalizer
cloudinary
colorama
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dotenv
Faker
filelock
fsspec
gunicorn
h11
huggingface-hub
idna
Jinja2
joblib
MarkupSafe
mpmath
mysqlclient
networkx
numpy
opencv-python
outcome
packaging
pandas
pillow
pycparser
PyJWT
PyMySQL
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
regex
reportlab
requests
safetensors
scikit-learn
scipy
selenium
sentence-transformers
setuptools
six
sniffio
sortedcontainers
sqlparse
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
whitenoise
wsproto
supabase
